* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    position: flex;
}
/* ---HEADER--- */
#top{
    background: rgba(131, 11, 11, 0.815);
    padding: 17px;
}
#title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    color: #fefefe;
    text-align: center;
    letter-spacing: 3px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
}
/* ---HEADER--- */

/* ---NAVIGATION--- */
#navegacao{
    background-color: rgba(57, 161, 75, 0.726);
    color: white;
    padding: 15px;
}
#links{  
    display: flex;
    margin: auto;
    margin-top: 15px;
    font-size: 15px;
    padding-right: 10px;
}
#usericon{
    width: 45px;
    height:45px;
    padding: 5px;
}
#links_op{
    font-size: 15px;
    margin-left: 15px;
    color: #ffffff;
}
#links_op a{
    font-size: 15px;
    text-decoration: none;
    color: #321f85;
    text-decoration: underline;
}
#sessao-carrinho{
    margin-left: auto;
    cursor: pointer;
    padding-right: 20px;
}
#img-cart{
    width: 45px;
    height: 45px;
}
#sessao-frete{
    padding-left: 10px;
    cursor: pointer;
}
#img-pin{
    width: 45px;
    height: 45px;
}
#calcular{
    text-decoration: none;
    color: #fefefe;
    font-size: 15px;
    margin-bottom: 10px;
}
/* ---NAVIGATION--- */

/* ---BODY--- */
body {
    margin: auto;
    display: center;
    padding: 5px;
    text-align: center;
    background-color: #252525;
    color: black;
}
h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
}
.content{
    background:#fefefe;
    border-radius: 20px;
    padding: 20px;
    width:30%;
    margin: auto;
    box-shadow: rgb(138, 133, 133) 13px 13px 10px;
    justify-content: center;
    text-align: center;
}
.form-group h6{
    margin-top: 10px;
}
::placeholder{
    font-size: 10px;
    padding: 7px;
    opacity: 60%;
}
input{
    margin-top: 30px;
    border-radius: 15px;
    padding: 7px;
    border: 1px solid;
}
#submit{
    margin-top: 20px;
    border-radius: 13px;
    padding: 10px;
    width: 30%;
    background-color:rgb(21, 107, 235);
    cursor: pointer;
    margin: auto;
    color: white;
}
/* ---BODY--- */

footer {
    padding: 20px;
    text-align: center;
    color: white;
    font-style: italic;
    position:relative;
}